@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  * {
    padding: 0;
    margin: 0;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
  }
}

@layer components {
}

.slick-prev {
  left: -80px !important;
}

.slick-next {
  right: -80px !important;
}
